mnbmnbmnbmnb

<main id="pageContent" class="pageContent--1noFp"><h1>Bestellung 1 Artikel</h1>
  <div class="checkout--1NJ1Z">
    <div class="alertWrapper--2d_-Y"></div>
    <div class="checkoutblock--22pWW">
      <div class="anchor--36Xn8"></div>
      <h2 class="title--3NhaQ">Art der Lieferung</h2>
      <form>
        <div><p>Bitte eine Lieferart wählen</p>
          <div class="formField optional">
            <div class="radioRow--UndcB">
              <div class="contentWrapper--2zHRa"><label class="radioOption radio--3qp-a"><input
                name="selectedDeliveryOptionId" type="radio"
                aria-describedby="selectedDeliveryOptionIdValidationMessage" value="1"><span class="inputSvg--35NNS"><div
                class="control--_f01F"></div></span>
                <div class="optionName--1IfWt">Versand</div>
              </label>
                <div class="optionDetail--hmX8K">Die Produkte werden bequem an deine Adresse geliefert. Schwere Artikel,
                  die wir per Spedition versenden, können nur bis zur Bordsteinkante geliefert werden.
                  Keine zusätzlichen Gebühren.
                </div>
              </div>
            </div>
            <div class="radioRow--UndcB">
              <div class="contentWrapper--2zHRa"><label class="radioOption radio--3qp-a"><input
                name="selectedDeliveryOptionId" type="radio"
                aria-describedby="selectedDeliveryOptionIdValidationMessage" value="2"><span class="inputSvg--35NNS"><div
                class="control--_f01F"></div></span>
                <div class="optionName--1IfWt">Abholung</div>
              </label>
                <div class="optionDetail--hmX8K">Du kannst die Bestellung in einer digitec-Filiale abholen. Wir
                  informieren dich, sobald deine Bestellung abholbereit ist.
                </div>
              </div>
            </div>
            <div class="radioRow--UndcB">
              <div class="contentWrapper--2zHRa"><label class="radioOption radio--3qp-a"><input
                name="selectedDeliveryOptionId" type="radio"
                aria-describedby="selectedDeliveryOptionIdValidationMessage" value="24"><span class="inputSvg--35NNS"><div
                class="control--_f01F"></div></span>
                <div class="optionName--1IfWt">PickMup</div>
              </label>
                <div class="optionDetail--hmX8K">PickMup ist der Abholservice der Migros. Du wirst informiert, sobald
                  deine Bestellung an einem PickMup-Standort abholbereit ist. Nach dem Speichern kannst du den
                  Abholstandort auswählen.
                </div>
              </div>
            </div>
            <div class="radioRow--UndcB">
              <div class="contentWrapper--2zHRa"><label class="radioOption radio--3qp-a disabled--3HMag"><input
                name="selectedDeliveryOptionId" type="radio" disabled=""
                aria-describedby="selectedDeliveryOptionIdValidationMessage" value="17"><span class="inputSvg--35NNS"><div
                class="control--_f01F"></div></span>
                <div class="optionName--1IfWt">Lieferung an den Verwendungsort</div>
              </label>
                <div class="optionDetail--hmX8K">Diese Lieferoption wurde deaktiviert, da für mindestens ein Produkt
                  keine Lieferung an den Verwendungsort möglich ist.
                </div>
              </div>
            </div>
          </div>
          <div class="alertWrapper--2d_-Y">
            <div class="alertWrapper alert--3lwQa info--2PwTY">
              <div>Bitte klicke auf Speichern, um deine Auswahl zu bestätigen.</div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" class="digicon--e1_A0">
                <path d="M7 7h2v6H7z"></path>
                <circle cx="8" cy="4" r="1"></circle>
              </svg>
            </div>
          </div>
          <div class="actions--2denp">
            <button type="submit" class="button--283Si primary--2CoT1 big--2EVgB">Speichern</button>
          </div>
        </div>
      </form>
      <hr class="line--2JP-S clearfix--3pJkq">
    </div>
    <div class="checkoutblock--22pWW">
      <div class="anchor--36Xn8"></div>
      <h2 class="title--3NhaQ">Adresse & Termin</h2>

      <div class="block--1nxQV">
        <h3>Lieferadresse</h3>
        <p>An diese Adresse wird Ware geliefert</p>
        <div class="addressOptionsSelection--i_imw">
          <div class="formField optional">
            <div class="radioRow--UndcB">
              <div class="contentWrapper--2zHRa">
                <label class="radioOption radio--3qp-a"><input name="deliveryAddressId"
                                                               type="radio"
                                                               aria-describedby="deliveryAddressIdValidationMessage"
                                                               value="5015141">
                  <span class="inputSvg--35NNS"><div class="control--_f01F"></div></span>
                  <span class="important-message"><div>Zuhause: </div></span>
                  <div class="optionName--1IfWt">&nbsp;Simon Speed, Musterweg 123, CH-8005 Zürich
                  </div>
                </label></div>
              <div class="action--1tcLP"><span class=""><button type="button" class="button--283Si"><span
                class="wrapper--3TcIB"><span class="static--1XjOp"><svg xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 16 16" width="16" height="16"
                                                                        class="digicon--e1_A0"><path
                d="M12 6v9H4V6h8m1-1H3v11h10V5z"></path><path
                d="M6 8h1v5H6zm3 0h1v5H9zM3 3h4v1H3zm3-1h4v1H6zm3 1h4v1H9z"></path></svg></span><span
                class="hover--1LTkx"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"
                                          class="digicon--e1_A0"><path d="M12 6v9H4V6h8m1-1H3v11h10V5z"></path><path
                d="M6 8h1v5H6zm-.333-6.713l.97-.26.52 1.94-.97.26zm2.911-.78l.97-.26.52 1.94-.97.26zM9 8h1v5H9z"></path><path
                d="M3.003 3.033l3.863-1.035.26.965L3.261 4z"></path><path
                d="M5.642 1.299L9.506.264l.259.965-3.864 1.036z"></path><path
                d="M8.787 1.478L12.834.394l.259.966-4.048 1.084z"></path></svg></span></span> </button></span></div>
            </div>
            <div class="radioRow--UndcB">
              <div class="contentWrapper--2zHRa"><label class="radioOption radio--3qp-a"><input name="deliveryAddressId"
                                                                                                type="radio"
                                                                                                aria-describedby="deliveryAddressIdValidationMessage"
                                                                                                value="5015139"><span
                class="inputSvg--35NNS"><div class="control--_f01F"></div></span>
                <span class="important-message"><div>Büro: </div></span>
                <div class="optionName--1IfWt">&nbsp;Simon Speed, ABC Consultunts, Musterweg 123, CH-8005 Zürich</div>
              </label></div>
              <div class="action--1tcLP"><span class=""><button type="button" class="button--283Si"><span
                class="wrapper--3TcIB"><span class="static--1XjOp"><svg xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 16 16" width="16" height="16"
                                                                        class="digicon--e1_A0"><path
                d="M12 6v9H4V6h8m1-1H3v11h10V5z"></path><path
                d="M6 8h1v5H6zm3 0h1v5H9zM3 3h4v1H3zm3-1h4v1H6zm3 1h4v1H9z"></path></svg></span><span
                class="hover--1LTkx"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"
                                          class="digicon--e1_A0"><path d="M12 6v9H4V6h8m1-1H3v11h10V5z"></path><path
                d="M6 8h1v5H6zm-.333-6.713l.97-.26.52 1.94-.97.26zm2.911-.78l.97-.26.52 1.94-.97.26zM9 8h1v5H9z"></path><path
                d="M3.003 3.033l3.863-1.035.26.965L3.261 4z"></path><path
                d="M5.642 1.299L9.506.264l.259.965-3.864 1.036z"></path><path
                d="M8.787 1.478L12.834.394l.259.966-4.048 1.084z"></path></svg></span></span> </button></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="block--1nxQV">
        <h3>Liefertermin</h3>
        <p>Für Sie optimiert, anpassbar nach Ihren Wünschen</p>
        <div class="addressOptionsSelection--i_imw">
          <div class="formField optional">
            <div class="radioRow--UndcB">
              <div class="contentWrapper--2zHRa"><label class="radioOption radio--3qp-a"><input name="deliveryAddressId"
                                                                                                type="radio"
                                                                                                aria-describedby="deliveryAddressIdValidationMessage"
                                                                                                value="5015141"><span
                class="inputSvg--35NNS"><div class="control--_f01F"></div></span>
                <span class="important-message"><div>Optimiert für Dich: </div></span>

                <div class="optionName--1IfWt"> &nbsp;Freitag, 17.5.2019, 10:00 - 12:00
                </div>
              </label></div>
              <div class="action--1tcLP"><span class=""><button type="button" class="button--283Si"><span
                class="wrapper--3TcIB"><span class="static--1XjOp"><svg xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 16 16" width="16" height="16"
                                                                        class="digicon--e1_A0"><path
                d="M12 6v9H4V6h8m1-1H3v11h10V5z"></path><path
                d="M6 8h1v5H6zm3 0h1v5H9zM3 3h4v1H3zm3-1h4v1H6zm3 1h4v1H9z"></path></svg></span><span
                class="hover--1LTkx"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"
                                          class="digicon--e1_A0"><path d="M12 6v9H4V6h8m1-1H3v11h10V5z"></path><path
                d="M6 8h1v5H6zm-.333-6.713l.97-.26.52 1.94-.97.26zm2.911-.78l.97-.26.52 1.94-.97.26zM9 8h1v5H9z"></path><path
                d="M3.003 3.033l3.863-1.035.26.965L3.261 4z"></path><path
                d="M5.642 1.299L9.506.264l.259.965-3.864 1.036z"></path><path
                d="M8.787 1.478L12.834.394l.259.966-4.048 1.084z"></path></svg></span></span> </button></span></div>
            </div>
            <div class="radioRow--UndcB">
              <div class="contentWrapper--2zHRa"><label class="radioOption radio--3qp-a"><input name="deliveryAddressId"
                                                                                                type="radio"
                                                                                                aria-describedby="deliveryAddressIdValidationMessage"
                                                                                                value="5015139"><span
                class="inputSvg--35NNS"><div class="control--_f01F"></div></span>

                <span class="important-message"><div>Schnellster Termin: </div></span>
                <div class="optionName--1IfWt"> &nbsp;Montag, 13.5.2019, 10:00 - 12:00 </div>
              </label></div>
              <div class="action--1tcLP"><span class=""><button type="button" class="button--283Si"><span
                class="wrapper--3TcIB"><span class="static--1XjOp"><svg xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 16 16" width="16" height="16"
                                                                        class="digicon--e1_A0"><path
                d="M12 6v9H4V6h8m1-1H3v11h10V5z"></path><path
                d="M6 8h1v5H6zm3 0h1v5H9zM3 3h4v1H3zm3-1h4v1H6zm3 1h4v1H9z"></path></svg></span><span
                class="hover--1LTkx"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"
                                          class="digicon--e1_A0"><path d="M12 6v9H4V6h8m1-1H3v11h10V5z"></path><path
                d="M6 8h1v5H6zm-.333-6.713l.97-.26.52 1.94-.97.26zm2.911-.78l.97-.26.52 1.94-.97.26zM9 8h1v5H9z"></path><path
                d="M3.003 3.033l3.863-1.035.26.965L3.261 4z"></path><path
                d="M5.642 1.299L9.506.264l.259.965-3.864 1.036z"></path><path
                d="M8.787 1.478L12.834.394l.259.966-4.048 1.084z"></path></svg></span></span> </button></span></div>
            </div>
          </div>
        </div>
      </div>
      <hr class="line--2JP-S clearfix--3pJkq">
    </div>
    <div class="checkoutblock--22pWW">
      <div class="anchor--36Xn8"></div>
      <h2 class="title--3NhaQ">Bestellübersicht</h2>
      <div class="orderItemsList--2Y5Pr">
        <article class="orderItem--2PJIw">
          <div class="itemRow--3xwdu">
            <div class="productMandatorName--14Uyy">Beschreibung / Verfügbarkeit</div>
            <div class="quantity--2Y8Kg">Menge</div>
            <div class="unitSalesPrice--4i92r">Preis</div>
            <div class="totalPrice--MHy2x">Total</div>
          </div>
        </article>
        <article class="orderItem--2PJIw">
          <div class="itemRow--3xwdu">
            <div class="productMandatorName--14Uyy">Samsonite Neopulse (38l, S)</div>
            <div class="quantity--2Y8Kg">1</div>
            <div class="unitSalesPrice--4i92r"> 180.–</div>
            <div class="totalPrice--MHy2x"> 180.–</div>
          </div>
          <div class="availability--3ozgZ"><span class="greenText--3FFwe iconList--2fI7y iconList--1aWWY"><svg
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14"
            class="digicon--e1_A0 green--195DL"><circle cx="8" cy="8" r="8"></circle><path class="st0"
                                                                                           d="M4.457 6.912l3.535 3.535-1.414 1.414-3.536-3.535z"></path><path
            class="st0" d="M11.563 4.14l1.414 1.413-6.364 6.364L5.2 10.503z"></path></svg><span
            class="availabilityText text--1b5wn">Nur noch 1 Stück versandbereit ab unserem Lager</span></span></div>
        </article>
      </div>
      <div class="prices--ErXbw"><br>
        <div>Nettobetrag<span class="priceContainer--67yeM"> 167.13</span></div>
        <div>MwSt.<span class="priceContainer--67yeM"> 12.87</span></div>
        <div class="totalPrice--MHy2x">Gesamtbetrag<span class="priceContainer--67yeM"> 180.–</span></div>
      </div>
      <div class="summary--kv9Kc">
        <form>
          <div><label class="formField inputElement--2nspr checkbox--1W9aD optional"><input class="htmlInput--1CkjP"
                                                                                            name="showPurchasesOnPublicProfileCheckbox"
                                                                                            type="checkbox"
                                                                                            aria-describedby="showPurchasesOnPublicProfileCheckboxValidationMessage"><span
            class="checkboxSvg--BgPar inputSvg--35NNS"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                            width="18" height="18" class="digicon--e1_A0"></svg></span>Diesen
            Einkauf in meinem öffentlichen Profil anzeigen</label></div>
        </form>
        <div class="actions--2denp">
          <button type="button" disabled="" class="button--283Si disabled--3oe5C primary--2CoT1 big--2EVgB">Jetzt
            kaufen
          </button>
        </div>
      </div>
      <div class="legalInfo--dm8tJ"><p>Mit dieser Bestellung akzeptierst du unsere <a class="link--2eRQr"
                                                                                      href="/de/wiki/478">Allgemeine
        Geschäftsbedingungen</a>.</p>
        <p></p></div>
    </div>
  </div>
</main>
