<div class="pageNavigation--2iPs0">
  <nav class="pageNavigationContent--2ix9T">
    <div class="invisible--3Nrb7" id="uniqueNavigationPath">gs</div>
    <ul class="navigationOverview--1TABf">
      <li class="navigationItem--1E2IT isExpanded--1Nys7">
        <ul>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 head--3wCXp rootLink--3f9S5"><a
            class="link--2eRQr" href="/de/s2/sector/haushalt-2">Haushalt</a></li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s14/sector/wohnen-14">Wohnen</a>
          </li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s4/sector/do-it-garten-4">Do
            it + Garten</a></li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s3/sector/sport-3">Sport</a>
          </li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s8/sector/fashion-8">Fashion</a>
          </li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s5/sector/spielwaren-5">Spielwaren</a>
          </li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s15/sector/tierbedarf-15">Tierbedarf</a>
          </li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s10/sector/baby-mama-10">Baby
            + Mama</a></li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s6/sector/beauty-gesundheit-6">Beauty
            + Gesundheit</a></li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s17/sector/erotik-17">Erotik</a>
          </li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s16/sector/uhren-schmuck-16">Uhren
            + Schmuck</a></li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s12/sector/buero-12">Büro</a>
          </li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s1/sector/digital-1">Digital</a>
          </li>
          <li class="navigationItem--1E2IT isUppercase--2TYt6 rootLink--3f9S5"><a class="link--2eRQr"
                                                                                  href="/de/s11/sector/medien-11">Medien</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="topCategories--1KNGJ">
      <div class="relatedLinks--1nWTZ navigation-top-categories"><h3>Top 10 Kategorien</h3>
        <ul>
          <li><a class="link--2eRQr"
                 href="/de/s10/producttype/windeln-1224"><span>Windeln</span></a></li>
          <li><a class="link--2eRQr" href="/de/s12/producttype/presenter-2955"><span>Presenter</span></a>
          </li>
          <li><a class="link--2eRQr" href="/de/s5/producttype/lego-277"><span>LEGO</span></a>
          </li>
          <li><a class="link--2eRQr" href="/de/s14/producttype/leuchtmittel-166"><span>Leuchtmittel</span></a>
          </li>
          <li><a class="link--2eRQr" href="/de/s8/producttype/sneakers-1450"><span>Sneakers</span></a>
          </li>
          <li><a class="link--2eRQr" href="/de/s6/producttype/buerstenkopf-2576"><span>Bürstenkopf</span></a>
          </li>
          <li><a class="link--2eRQr" href="/de/s3/producttype/trinkflasche-193"><span>Trinkflasche</span></a>
          </li>
          <li><a class="link--2eRQr" href="/de/s2/producttype/staubsauger-118"><span>Staubsauger</span></a>
          </li>
          <li><a class="link--2eRQr"
                 href="/de/s6/producttype/elektrische-zahnbuerste-151"><span>Elektrische Zahnbürste</span></a>
          </li>
          <li><a class="link--2eRQr" href="/de/s14/producttype/bettwaesche-1240"><span>Bettwäsche</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="goToLinks--3OGfI">
      <div class="relatedLinks--1nWTZ navigation-direct-to"><h3>Direkt zu</h3>
        <ul>
          <li><a href="/de/sale" class="link--2eRQr"><span
            class="sale--3Bbc-">Ausverkauf</span></a></li>
          <li><a href="/de/secondhand"
                 class="link--2eRQr"><span>Gebraucht kaufen</span></a></li>
          <li><a href="/Resale" class="link--2eRQr"><span>Gebraucht verkaufen</span></a>
          </li>
          <li><a href="/producttype/181" class="link--2eRQr"><span>Gutscheine</span></a>
          </li>
          <li><a href="/de/magazine" class="link--2eRQr"><span>Magazin</span></a></li>
          <li><a class="link--2eRQr" href="/de/community"><span>Community</span></a></li>
          <li><a href="https://helpcenter.digitecgalaxus.ch/" class="link--2eRQr"><span>Helpcenter</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
